.grid-container .grid-cell[data-label="GCM-Slides"] {

  background: repeating-linear-gradient(135deg, #80c, #08c, #80c 100vmax);
  background-size: 141.44vmax;
  animation: slides 8s linear infinite paused;
  color: $white;
  
  .feather, &:hover .feather {
    opacity: 1;
    
    * {
      stroke: $black;
    }
  }
  
  &:hover {
    animation-play-state: running;
  }

  @keyframes slides {
    to {
      background-position: -141.44vmax;
    }
  }

}
