.grid-container .grid-cell:not(.static):hover {

	&[data-label="Lernraum"] {
		background-color: #fb0;
		color: $black;
	}
	
	&[data-label="Datenschutz"] {
		background-color: #098;
	}

	&[data-label="Belegungsplan"] {
		background-color: #08f;
	}

	&[data-label="Snake"] {
		background-color: #c00;
	}

	&[data-label="PHP-Cheat-Sheet"] {
		background-color: #75f;
	}

	&[data-label="Pandora-Beta"] {
		background-color: #7b0;
	}

	&[data-label="GCM-Slides"] {

	  background: repeating-linear-gradient(135deg, #80c, #08c, #80c 100vmax);
	  background-size: 141.44vmax;
	  animation: slides 8s linear infinite;

	  @keyframes slides {
		to {
		  background-position: -141.44vmax;
		}
	  }

	}

	&[data-label="Wikipedia-GCM"] {
		background-color: #d08;
	}

}
