body {
  background-color: $secondary-color;
}

.grid-container {

  box-sizing: border-box;
  height: calc(100vh - 3rem);
  padding: 1rem;

  display: grid;
  grid-template: repeat(4, 1fr) / repeat(4, 1fr);
  grid-gap: 1rem;

  .grid-cell {
    background-color: $primary-color;
    color: $light-text-color;
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: bold;
    border-radius: .5rem;
    box-shadow: 0 1px 2px $primary-color;
    cursor: pointer;
    transition: background-color .2s, box-shadow .2s;

    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 0;

    &.static {
      cursor: auto;
    }

    &.grid-cell-horizontal {
      grid-column: span 2;
    }

    &.grid-cell-vertical {
      grid-row: span 2;
    }

    &:not(.static):hover {

      background-color: $primary-highlight-color;
      box-shadow: none;

      .feather {
        opacity: 0;
      }
    }

    .subtitle {
      margin-top: 1rem;

      font-size: .5em;
      font-style: italic;
      text-align: center;
    }

    .feather {
      position: absolute;
      display: block;
      width: 80%;
      height: auto;
      max-height: 100%;
      z-index: -1;

      transition: opacity .2s;

      // target path, rect, circle etc
      // feather icons don't contain any unstylable tags
      * {
       fill: none;
       stroke: $tertiary-color;
       stroke-width: .5rem;
       vector-effect: non-scaling-stroke;
       stroke-linecap: round;
       stroke-linejoin: round;
      }
    }
  }
}


@media screen and (max-width: $breakpoint-m) {

  .grid-container {
    height: auto;
    padding: .5rem;

    grid-template-columns: 1fr 1fr;
    grid-gap: .5rem;

    .grid-cell {
      max-height: 50vmin;
      padding: 3rem 0;
      grid-column: span 1 !important;
      grid-row: span 1 !important;
    }
  }
}

@media screen and (max-width: $breakpoint-s) {

  .grid-container {
    grid-template-columns: 1fr;

    .grid-cell {
      max-height: 12rem;
    }
  }
}
