@import 'vars';

@import 'header';
@import 'tiles';
@import 'buttons';

@import 'timer';

body, input, button {
  margin: 0;
  font-family: $font-stack;
  font-weight: 300;
}

::selection {
  background-color: $primary-highlight-color;
  color: $light-text-color;
}
