$primary-color: #333;
$secondary-color: #444;
$tertiary-color: #666;
$primary-highlight-color: #583;
$secondary-highlight-color: #7a3;
$tertiary-highlight-color: #383;
$dark-text-color: #111;
$light-text-color: #fff;
