@import 'colors';
@import 'header';
@import 'tiles';

body, input, button {
  margin: 0;
  font-family: 'Ubuntu', 'Helvetica Neue', 'Helvetica', sans-serif;
  font-weight: 300;
}

::selection {
  background-color: $primary-highlight-color;
  color: $light-text-color;
}
