.grid-container .grid-cell .button {

  margin: 0;
  padding: .25em .5em;

  font-size: 1rem;
  font-weight: bold;
  text-decoration: none;
  background-color: #eee;
  border: none;
  border-radius: .5rem;
  color: $black;

  cursor: default;

  &:hover {
    background-color: #ddd;
  }

  &.primary {
    background-color: $green;
    color: $white;

    &:hover {
      background-color: darken($green, 5%);
    }
  }

  &:disabled {
    background: none !important;
    border-color: $secondary-color !important;
    color: $secondary-color !important;
    cursor: not-allowed;
  }
}
