.cis-header {

  height: 3rem;
  padding: 0 1rem;

  background-color: $green;
  color: $white;
  white-space: nowrap;

  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  
  .cis-section {
    flex: 1 0 0;
    display: flex;
    
    &.align-right {
      justify-content: end;
    }
  }

  .cis-brand {
    
    color: inherit;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.2rem;
    display: inline-flex;
    align-items: center;
    gap: .5rem;
    
    svg {
      height: 1.5rem;
    }
    
    &::selection {
      color: $green;
      background-color: $white;
    }
    
  }

  .cis-header-search {

    box-sizing: border-box;
    min-width: 40%;
    height: 2rem;

    background-color: $white;
    border-radius: .5rem;

    display: flex;
    overflow: hidden;
    
    &:focus-within {
      box-shadow: 0 0 0 2px $black;
    }

    .cis-search-input {

      flex-grow: 1;
      margin: 0;
      padding: .2em .5em;
      width: 8rem; // weird fix but works™

      font-size: 1rem;
      background: none;
      border: none;
      color: $black;
      outline: 0;
      box-shadow: none;

      &::placeholder {
        opacity: .5;
        color: inherit;
      }
    }

    .cis-search-button {

      margin: 0;
      padding: 0;
      width: 2.5rem;

      background: none;
      border: none;
      cursor: default;
      
      .cis-search-button-background {
        height: 1.5rem;
        margin: .25rem;
        
        border-radius: .25rem;
        
        display: flex;
        align-items: center;
        justify-content: center;
      }

      svg {
        height: 1.25rem;
        vertical-align: middle;
      }

      &:hover {

        .cis-search-button-background {
          background-color: $green;
        }

        svg path {
          stroke: $white;
        }
      }
    }
  }
}


@media screen and (max-width: $breakpoint-m) {
  .cis-header .cis-section:last-child {
    display: none;
  }
}

@media screen and (max-width: $breakpoint-s) {
  .cis-header {
    .cis-section {
      flex: auto;
    }
    
    .cis-brand-title {
      display: none;
    }
  }
}
