@import 'vars';

@import 'header';
@import 'tiles';
@import 'buttons';

@import 'widgets/campusslides';
@import 'widgets/timer';
@import 'widgets/vertretungsplan';
@import 'widgets/snake';

body {
  margin: 0;
  font-family: $font-stack;
}

input, button {
	font: inherit;
}

::selection {
  background-color: $green;
  color: $white;
}
