@import 'vars';

@import 'header';
@import 'tiles';
@import 'buttons';

@import 'widgets/colors';
@import 'widgets/timer';
@import 'widgets/vertretungsplan';
@import 'widgets/snake';


@font-face { font-family: 'Ubuntu'; font-style: normal; font-weight: normal; src: url('https://gcm.schule/fonts/Ubuntu-R.ttf') format('truetype'); }
@font-face { font-family: 'Ubuntu'; font-style: normal; font-weight: bold; src: url('https://gcm.schule/fonts/Ubuntu-B.ttf') format('truetype'); }
@font-face { font-family: 'Ubuntu'; font-style: italic; font-weight: normal; src: url('https://gcm.schule/fonts/Ubuntu-RI.ttf') format('truetype'); }
@font-face { font-family: 'Ubuntu'; font-style: italic; font-weight: bold; src: url('https://gcm.schule/fonts/Ubuntu-BI.ttf') format('truetype'); }


body {
  margin: 0;
  font-family: $font-stack;
}

input, button {
  font: inherit;
}

::selection {
  background-color: $green;
  color: $white;
}

.cis-header .secret {
  font-family: 'Comic Sans MS', cursive;
  color: #0ff;

  @supports (background-clip:text) {
    &:hover {
      background: linear-gradient(to right, #f00, #00f);
      background-clip: text;
      color: transparent !important;
      background-size: 2rem;
      animation: secret .25s linear infinite;
    }
    
    @keyframes secret {
      to {
        background-position: -2rem;
      }
    }
  }
}
